:root {
  --main-color: #FF0345;
  --primary-color: #FF0345;
  --secondary-color: #FF0345;
  --basic-gradient: linear-gradient(90deg, #FF0345 0%, #FF0345 100%);
}

/* @keyframes notification {
  0%   { right: -200px; }
  20% { right: 0; }
  80% { right: 0; }
  100%   { right: -200px; }
} */

body {
  /* background-color: black; */
  color: white;
  overflow-x: hidden;
}

.App {
  text-align: center;
  background-color: black;
  /* background-image: url("./images/bg_grande.png") ; */
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  place-content: center;
  place-items: center;
  box-sizing: border-box;
  padding: 60px 0;
}

.stage {
  display: flex;
  flex-direction: column;
}

.btn_add_product {
  width: 88%;
  max-width: 500px;
  margin: auto;
  margin-top: 16px;
  padding: 10px;
  box-sizing: border-box;
  border: 3px solid var(--primary-color);
  color: white;
  background-color: black;
  text-transform: uppercase;
  font-weight: bolder;
  border-radius: 30px;
}

.btn_add_product:hover {
  color: black;
  background-color: var(--primary-color);
}

.table_header, .sale_row {
  display: flex;
  margin: auto;
  place-content: center;
  max-width: 500px;
  width: 90%;
  justify-content: space-around;
}

.leaderboard {
  width: 96%;
  box-sizing: border-box;
  margin: auto;
}

.sale_row {
  position: relative;
}
.sale_row input {
  padding: 5px;
  background: var(--basic-gradient);
  color: black;
  border: none;
  margin: 2px 6px;
  text-align: center;
  border-radius: 20px;
}

.table_header legend, .sale_row input {
  width: 30%;
  max-width: 180px;
  text-align: center;
}

.sale_row button {
  position: absolute;
  right: -28px;
  top: 2px;
  padding: 5px 10px;
  border: none;
  background: black;
  color: white;
  font-weight: bold;
}
.sale_row button:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

.input_group {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap:10px;
  width: 88%;
  max-width: 720px;
  position: relative;
}

.input_group legend {
  position: absolute;
  z-index: 1;
  background-color: tomato;
  font-size: 0.8rem;
  bottom: -44px;
  padding: 4px;
}

.input_group label {
  font-weight: bold;
  text-transform: uppercase;
}

.input_group input {
  padding: 10px;
  background: var(--basic-gradient);
  color: black;
  border: 3px solid white;
  border-radius: 30px;
  font-weight: bold;
}

.nav_buttons {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
}

.nav_buttons button {
  background: var(--basic-gradient);
  border: none;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  padding: 20px 40px;
  border-radius: 40px;
  margin: 5px 10px;
  font-size: 0.7rem;
  font-weight: bold;
}

.nav_buttons button:hover {
  border: 3px solid var(--primary-color);
  background: black;
  color: white;
  cursor: pointer;
}

.nav_buttons button:disabled {
  background: var(--basic-gradient);
  color: black;
  opacity: 0.3;
  cursor: default;
}

.router_link {
  background: var(--basic-gradient);
  border: none;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  padding: 20px 40px;
  border-radius: 40px;
  margin: 5px 10px;
  font-size: 0.7rem;
  font-weight: bold;
  text-decoration: none;
  flex: 1;
  vertical-align: middle;
  display: flex;
  place-content: center;
  place-items: center;
}

.router_link:hover {
  background: black;
  color: white;
  cursor: pointer;
}

.router_link:disabled {
  background: var(--basic-gradient);
  color: black;
  opacity: 0.3;
  cursor: default;
}

.headline {
  max-width: 720px;
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}

.gradient_overlay {
  background: linear-gradient(0deg,transparent 0%, black  50%, black  100%);
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -1;
  box-sizing: border-box;
}

.registration_form {
  width: 90%;
  max-width: 720px;
  margin: auto;
}

.form_group {
  width: 100%;
}

.form_group label{
  display: none;
}

.form_group input {
  background: var(--basic-gradient);
  border: none;
  border-radius: 30px;
  padding: 12px;
  margin: 5px;
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
}

.city_state {
  display: flex;
  margin-bottom: 50px;
}

.city_state select {
  background: var(--basic-gradient);
  padding: 12px;
  width: 180px;
  border-radius: 30px;
  margin-top: 4px;
  border: none;
  font-weight: bold;
}

.city_state .state {
  text-align: left;
  width: 180px;
}

.state option {
  background-color: black;
  color: white;
}

.form_group input:disabled {
  opacity: 0.3;
}

.city_lister {
  position: relative;
}

.AutocompleteCity {
  display: flex;
  flex-direction: column;
  max-width:195px;
  margin: auto;
  position: absolute;
  top: 45px;
  left: 10px;
  z-index: 2;
}

.AutocompleteCity button {
  padding: 8px;
  background-color: black;
  border: none;
  color: white;
}

.AutocompleteCity button:hover {
  background-color: white;
  color: black;
}

.division {
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
}


.division h5 {
  text-transform: uppercase;
  border: 2px solid var(--primary-color);
  padding: 4px;
  border-radius: 16px;
}

.winners_list {
  display: flex;
  place-content: center;
  place-items: center;
  flex-wrap: wrap;

}

.champion {
  position: relative;
  margin: 20px;
}

.champion legend {
  background: var(--basic-gradient);
  color: black;
  font-weight: bold;
  padding: 12px 22px;
  padding-bottom: 32px;
  border-radius: 30px;

}

.champion span{
  position: absolute;
  background-color: white;
  border-radius: 30px;
  color: black;
  padding: 2px 12px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  left: calc(50% - 20px);
  top: 42px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.state_champ span {
  left: calc(50% - 27px);
}

.div-center {
  display: flex;
  justify-content: center;
}

.notification {
  position: fixed;
  background-color: #28a745;
  color: white;
  padding: 8px 20px;
  max-width: 240px;
  text-align: center;
  font-weight: bolder;
  /* right: -200px; */
  top: 20px;
  animation: 4s;
}

.regulation {
  margin: 30px auto;
  width: 80%;
  max-width: 1280px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.92);
  padding: 20px;
  border-radius: 20px;
}

.regulation a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.regulation h3 {
  margin-top: 50px;
}

.section_headline {
  display: block;
  width: 100%;
  max-width: 720px;
  margin: auto;
}

.prizes {
  margin-top: 30px;
}

.smaller {
  max-width: 420px;
}

.error legend {
  background-color: tomato;
  width: 90%;
  margin: auto;
  padding: 6px;
  font-size: 0.8rem;
  font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}